/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
	background-image: url("images/color-gradient-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
}

.center {
    width: 600px;
	padding: 15%;
    margin: 50px auto;
 	background: rgba(255, 255, 255, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px inset white;
	border-radius: 25px;
}

   
#logo {
    margin-bottom: 20px;
	border: 0px solid white;
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: filson-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: black;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: tondo, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 1.5em;
    line-height: 1.4;
    color: black;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */		
	font-family: tuna, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
    line-height: 1.6;
    color: black;
}
    
nav{
	font-family: nasalization, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	width: 500px;
	margin: 0 auto;
	border: dashed turquoise;
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
}

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding: 10px;
}

a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: black;
	background: lightgreen;
}

#top-nav-bar {
	font-family: nasalization, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.2em;
	width: 1000px;
	margin: 0 auto;
	border: solid black;
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;

}

/* Style to standardize images */
.image {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
}

/*style for links in the contact page */
#contact-links {
	font-family: tondo, sans-serif;
	font-weight: 400;
	font-style: normal; 
	font-size: 1.5em;
    line-height: 1.4;
    color: black;
    padding: 0px 0px;
    margin: 0px auto 25px auto;

}

/* Container holding the image and the text */
.container {
	position: relative;
	text-align: center;
	color: black
}

/* Bottom left text */
.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
  }
  
  /* Top left text */
  .top-left {
	position: absolute;
	top: 8px;
	left: 16px;
  }
  
  /* Top right text */
  .top-right {
	position: absolute;
	top: 8px;
	right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
  }
  
  /* Centered text */
  .centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: filson-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: black;
  }

   /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .form_container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  } 